/* Document */
html {
    --primary-color: #1c2e55;
    --faint-primary-color: #284d9e;
    --primary-accent-color: #0b1427;
    --secondary-color: #ffd38c;
    --white: #ffffff;
    --black: #000000;
    --pink: #ffa6cf;
    --offwhite: #f3f3f3;
    --gray: #555;
    --offgray: rgb(219, 219, 219);
    --primary-text-color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    box-shadow: inset 0 0 24px rgba(0, 0, 0, 0.5);
    background-color: var(--offwhite);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 24px rgba(0, 0, 0, 1);
}

/* Site Body */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary-color);
    background-color: var(--white);
    margin: 0px !important;
}

/* Navigation Bar */
header {
    background-color: var(--offwhite);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--offgray);
    box-shadow: 2px 3px 5px #dddddd;
    z-index: 999;
}

#header-name {
    font-weight: 600;
    padding: 0 10px 20px 10px;
    margin-left: 2.5%;
    margin-top: 6px;
}

#navbar {
    display: flex;
}

.nav {
    float: right;
    display: flex;
    margin: 0 2.4% 0 auto; 
}
.nav ul {
    flex-direction: row;
    margin: auto 0 auto 0;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    padding: 14px 16px 14px 16px;
}

.nav ul li a:hover {
    color: var(--faint-primary-color);
    background-color: var(--white);
}

/* Portfolio */
#content {
    position: relative;
    top: 4rem;
}

#home {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    margin-bottom: 6rem;
}

.profile {
    max-width: 25%;
    margin-right: 4%;
}

.profile img {
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    width: 280px;
    height: 280px;
}

.no-margin {
    margin: 0px !important;
}

.small-margin {
    margin-bottom: 6px !important;
}

#home .text {
    margin: 2% 0 0 0;
    font-size: 24px;
    text-align: center;
}

/* Portfolio sections */
.portfolio-section {
    margin-top: 8rem;
}

.section-title {
    color: var(--primary-color);
    margin-left: 5%;
}

hr {
    background-color: var(--faint-primary-color);
    border-color: var(--faint-primary-color);
    width: 90%;
    margin: auto;
}

.section-content {
    width: 90%;
    margin: 8px auto 0 auto;
}

/* Footer style */
footer {
    background-color: var(--offwhite);
    padding: 2px;
    text-align: center;
    margin-top: 48px;
    border-top: 1px solid var(--offgray);
}

.footer-text {
    color: var(--gray);
    font-size: 12px !important;
}

/* External buttons */
.button-container {
    width: 75%;
    margin: 12px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.external {
    position: relative;
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    text-decoration: none;
    border: 1.5px var(--primary-color) solid;
    border-radius: 8px;
    margin-top: 16px;
    transition: 0.5s;
}

#more {
    float: right;
    position: relative;
    display: grid;
    place-items: center;
    width: 108px;
    height: 42px;
    text-decoration: none;
    color: var(--primary-color);
    border: 1.5px var(--faint-primary-color) solid;
    background-color: var(--white);
    border-radius: 8px;
    font-size: 18px;
    padding: 8px;
    margin: 36px 6% 24px auto;
    transition: 0.5s;
}

#more:hover {
    color: var(--white);
    background-color: var(--primary-color);
    cursor: pointer;
}

.external img {
    max-width: 36px;
    filter: invert(0%);
}

.external:hover {
    filter: invert(100%);
    color: var(--white);
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

/* Experience Card */
.experience-card {
    width: 95%;
    background-color: var(--primary-color);
    margin: 2% auto 0 auto;
    padding: 30px;
    color: var(--offwhite);
    border: 2px solid var(--faint-primary-color);
    border-radius: 6px;
}

.company {
    font-size: 30px;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}

.company:hover {
    text-decoration: underline;
}

.job-title {
    font-size: 20px;
}

.description{
    padding: 0 24px 0 24px;
}

.description p{
    font-size: 16px;
}

#about-me .section-content {
    font-size: 20px;
}

#projects {
    margin-bottom: 8rem;
}

/* Project Grid */
#project-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 12px;
}

.project-card {
    background-color: var(--primary-color);
    height: 250px;
    padding: 0px;
    font-weight: 400;
    border: 2px solid var(--faint-primary-color);
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
}

.project-card:hover {
    color: var(--white);
    background-color: var(--faint-primary-color);
}

.project-card h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 4px;
}

.project-card h3 {
    text-align: center;
    font-weight: 400;
}

.project-description {
    font-size: 16px;
    max-width: max-content;
    margin: 10% 24px 0 24px;
}

.show {
    animation: zoom-in 0.5s 1 forwards;
}

.hide {
    animation: zoom-out 0.5s 1 forwards;
}

/* Animations */
@keyframes zoom-in {
    0%   {
        transform: scale(0);
    }
    100%  {
        transform: scale(1);
    }
}

@keyframes zoom-out {
    0%   {
        transform: scale(1);
    }
    100%  {
        transform: scale(0);
    }
}